.user-details {
    width: 60%;
    margin: 10px auto;
}

.user-table {
    border-collapse: collapse;
    width: 100%;
}

.user-table td, .user-table th {
    border-bottom: 1px solid #ddd;
    padding: 6px
}

.user-table th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #2C3E50;
    color: white;
}